.header {
    margin-top: -50px;
    width: 100vw;
    background: linear-gradient(180deg, #e50914 10%, #ff5f5f 100%);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.header-content{
  align-content: center;
}

.header-content {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    margin: top 0;
}

.header-subtitle {
    font-size: 1.1rem;
    opacity: 0.9;
    align-self: center;
    margin-top: -80px;
}