body {
    margin: 0
}

.search-section {
  margin-top: -1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  position: relative;
  margin-left: -20px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-size: 1rem;
  outline: none;
}