header {
    width: 100vw;
    background: linear-gradient(180deg, #e50914 0%, #ff5f5f 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.header-container {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    margin: top 0;
}

.header-container p {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.9;
    align-self: center;
    margin-top: 0;
}