.pokemonContainer {
  border-radius: 25px;
  border: 5px solid #d9cae1;
  width: 83%;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
  justify-content: center;
  gap: 40px;
  padding: 10px;
  background-color: #1c1730;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  box-shadow: 0 10px 30px 30px rgba(66, 67, 126, 0.5)
}


