body {
    margin: 0
}

.search-container {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input {
  width: 350px;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in-out;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  box-shadow: 0 0 0 3px #ff4d6d33;
  transform: scale(1.02);
}

.search-input {
  color: #000;
}