body {
    margin: 0
}

.search-container {
    position: fixed;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-input {
  width: 100%;
  padding: 1rem 3.5rem 1rem 1rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.705);
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease-in-out;
  background: #f9f9f9;
  color: #000;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  box-shadow: 0 0 0 3px #ff4d6d33;
}

.clear-button {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  color: #888;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: color 0.2s ease-in-out;
}

.clear-button:hover {
  color: #000;
}